// $font-size-base: 18px;

$container-max-widths: ();
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
  ),
  $container-max-widths
);

@import './bootstrap/bootstrap-reboot.scss';
@import './bootstrap/bootstrap-grid.scss';
